@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sharp';
  src: url('../assets/fonts/SharpGroteskBook20.woff2') format('woff2');
}

@layer base {
  html {
    font-family: 'Sharp', system-ui, sans-serif;
  }
}

.header_background_gradient {
  background: radial-gradient(
    140.59% 71.49% at 92.08% 10.54%,
    rgba(102, 182, 255, 0.59) 0%,
    rgba(217, 217, 217, 0) 100%
  );
}

.header_title_gradient {
  background: radial-gradient(
    69.42% 69.42% at 50.11% 12.4%,
    #4bd1ad 0%,
    #77a3e9 21.97%,
    #000 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.values_title_gradient {
  background: radial-gradient(60% 180% at 95% 40%, #7c6625 0%, #fff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text_gradient_1 {
  background: radial-gradient(#a098d2 0%, #6d5cdb 38.54%, #000 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text_gradient_2 {
  background: radial-gradient(#8d7bf6 0.52%, #4935c5 28.65%, #000 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text_gradient_3 {
  background: radial-gradient(
    78.4% 103.78% at 10.36% 32.69%,
    #687ef3 0%,
    #000 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text_gradient_4 {
  background: radial-gradient(100% 100% at 80% 50%, #5754d1 0%, #000 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text_gradient_5 {
  background: linear-gradient(
    180deg,
    #000 -108.65%,
    #000 -45.22%,
    #75c0ba 86.54%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text_gradient_6 {
  background: linear-gradient(
    0deg,
    #000 -108.65%,
    #000 -45.22%,
    #75c0ba 86.54%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text_gradient_engineer {
  background: radial-gradient(
    69.42% 69.42% at 90% 30%,
    #4bd1ad 0%,
    #77a3e9 50%,
    #000 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text_gradient_end {
  background: radial-gradient(60% 176.23% at 50% 10%, #fff 0%, #000 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.white_separator {
  width: 100%;
  background: linear-gradient(
    180deg,
    #f1f1f1 0%,
    rgba(241, 241, 241, 0.72) 37.5%,
    rgba(255, 255, 255, 0) 100%
  );
  background-clip: content-box;
  position: relative;
  z-index: 1;
}

.white_separator_v {
  width: 100%;
  background: linear-gradient(
    0deg,
    #f1f1f1 5%,
    rgba(241, 241, 241, 0.8) 40%,
    rgba(255, 255, 255, 0) 100%
  );
  background-clip: content-box;
  position: relative;
  z-index: 1;
}

.black_separator {
  width: 100%;
  background: linear-gradient(
    0deg,
    #000 0%,
    rgba(0, 0, 0, 1) 37.5%,
    rgba(255, 255, 255, 0) 100%
  );
  background-clip: content-box;
  position: relative;
  z-index: 1;
}
